-# ツイートに関する詳細（coolsの表示など）
-# .contents.row{"user_id": @user.id}
-#   .contents
-#     = @user.name
-#       さんの投稿一覧
-#     - @tweets.each do |tweet|
-#       = image_tag tweet.image.to_s, class: "contents__tweets"
-#       .contents__tweets--details
-#         name
-#         = tweet.carname
-#       .contents__tweets--details
-#         production year
-#         = tweet.year
-#       .contents__tweets--details
-#         description
-#         = tweet.description
-#       .contents__tweets--details
-#         user name
        